$color_1: #fff;
$color_2: #EEEEEE;
$color_3: #003057;
$color_4: #161618;

$white: #fff;
$black: #000;

$errorColor: #dc2342;

$boxShadow: 0px 0px 3px $black;
$textShadow: 0px 0px 3px $color_4;

$boxSizing: border-box;

$spacer: 12px;

$font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

.link {
    text-decoration: none;
    color: inherit;
}

