$color_1: #fff;
$color_2: #EEEEEE;
$color_3: #003057; // Volvo blue
$color_4: #161618; // Volvo black
$color_5: #333333;
$color_6: #007bcd; // Link color

$white: #fff;
$black: #000;

$successColor: #3c763d;
$errorColor: #dc2342;

$boxShadow: 0px 0px 3px $black;
$textShadow: 0px 0px 3px $color_4;

$heightMobile: calc(100vh - 50px);
$heightDesktop: calc(100vh - 80px);

$spacer: 12px;

$font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

.link {
    text-decoration: none;
    color: inherit;
}

.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
