// Contact Form 7 Styling

.wpcf7-text,
.wpcf7-textarea,
.wpcf7-submit {
    font-family: $font;
    font-size: 16px;
}

.wpcf7 {
    // Message box
    div.wpcf7-response-output {
        margin: 10px auto;
        padding: 15px;
        box-sizing: border-box;
    }
    // Message box
    div.wpcf7-validation-errors,
    .wpcf7-spam-blocked,
    .wpcf7-mail-sent-ng,
    .wpcf7-mail-sent-ok {
        background: none;
        border: 0;
        text-align: center;
        margin: 5px auto;
        padding: 0;
    }
    // Error message box
    div.wpcf7-validation-errors,
    .wpcf7-spam-blocked,
    .wpcf7-mail-sent-ng {
        color: $errorColor;
    }
    // Success message box
   .wpcf7-mail-sent-ok {
        color: $successColor;
   }
   // Missing field input text
    .wpcf7-not-valid-tip {
        display: none;
    }
    // Missing field input border
    span .wpcf7-not-valid {
        border: 0 !important;
        background-color: #ffe2e2;
    }
}
@media screen and (min-width: 640px) {
    div.wpcf7-response-output {
        width: 80%;
    }
}
