// Contact Form 7 Styling

.wpcf7 {
    // Message box
    div.wpcf7-response-output {
        margin: 10px auto;
        padding: 15px;
        box-sizing: border-box;
    }
    // Error message box
    div.wpcf7-validation-errors,
    .wpcf7-spam-blocked,
    .wpcf7-mail-sent-ng {
        background: #ffe2e2;
        border: 1px solid $errorColor;
        color: $errorColor;
    }
    // Success message box
   .wpcf7-mail-sent-ok {
        background: #dff0d8;
        border: 1px solid $successColor;
        color: $successColor;
   }
   // Missing field input text
    .wpcf7-not-valid-tip {
        color: $errorColor;
    }
    // Missing field input border
    span .wpcf7-not-valid {
        border: 1px solid $errorColor !important;
    }
}
@media screen and (min-width: 640px) {
    div.wpcf7-response-output {
        width: 80%;
    }
}
