// Styling for contact page

.vmc-contact-banner {
    width: 100%;
    &__container {
        display: none;
    }
    &__container,
    &__wrapper,
    &__content,
    &__img {
        width: 100%;
        height: 100%;
    }
    &__img {
        @extend .bg-img;
    }

    &__map-container {
        height: calc(100vh - 50px);
        width: 100%;
        a {
            color: $color_4;
        }
    }
    &__contact-container {
        @include flex-box(column, center, nowrap);
        background-color: rgba(255, 255, 255, 0.7);
        height: 100%;
        width: 100%;
        .button {
            border: 1px solid $black;
            align-self: center;
        }
    }
    &__phone,
    &__email,
    &__address {
        @include flex-box(row, space-between, nowrap);
        margin: 0 auto;
        margin-bottom: 30px;
        width: 250px;
        i,
        section {
            align-self: center;
        }
        i {
            @include flex-box(row, center, wrap);
            color: $color_3;
            font-size: 25px;
            font-weight: 700;
            height: 30px;
            padding: 10px;
            width: 30px;
            &:before {
                align-self: center;
            }
        }
        section {
            box-sizing: border-box;
            padding-left: 20px;
            width: 200px
        }
        p {
            margin: 0;
            padding: 10px 0;
        }
    }

    &__opening-hours-container {
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        h3,
        p {
            text-align: center;
        }
    }
    &__opening-hours-heading {
        background-color: rgba(170, 170, 170, 0.1);
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    &__form {
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        span {
            color: $errorColor;
        }
        h2 {
            box-sizing: inherit;
            margin: 0 auto;
            padding: 10px;
            text-align: center;
            width: 100%;
        }
        p {
            width: 100%;
            margin: 5px auto;
        }
        .wpcf7-text,
        .wpcf7-textarea {
            width: 100%;
            border: 1px solid $color_5;
            padding: 10px;
            box-sizing: border-box;
            font-size: 16px;
            resize: none;
            margin-top: 5px;
        }
        .wpcf7-submit {
            @extend .button__standard;
            @extend .button__standard--black-border;
            background-color: transparent;
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }

    .map-widget {
        position: relative;
        top: calc(-100vh + 50px);
        z-index: -1;
        // Remove buttons and logo from the map
        .gmnoprint,
        button, 
        a {
            display: none !important;
        }
    }
}

.vmc-contact {
    box-sizing: border-box;
    color: $color_5;

    &__wrapper,
    &__wrapper-background,
    &__employee-img {
        @extend .bg-img;
    }

    &__wrapper {
        height: $heightMobile;
        overflow: hidden;
        width: 100%;
    }

    &__employee-img {
        border: 1px solid $color_2;
        height: 200px;
        margin: 0 auto;
        width: 200px;
    }

    &__employee-content {
        width: 200px;
    }

    &__employee-headings {
        color: $white;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 10px 0;
        text-align: center;
        width: 80%;
    }

    &__wrapper,
    &__wrapper-background,
    &__employee-container,
    &__employee-headings,
    &__employee-content,
    &__employee-img,
    &__employee-txt {
        box-sizing: inherit;
    }

    &__employee-txt {
        background-color: $transparentBlue;
        color: $white;
        height: 200px;
        margin: 0 auto;
        padding: 0 10px;
        text-align: center;
        width: 200px;
        h3 {
            font-size: 18px;
        }
        h3,
        p {
            margin: 0;
            padding-top: 10px;
        }
    }
}

@media screen and (min-width: 360px) {
    .vmc-contact {
        &__employee-img {
            height: 250px;
            width: 250px;
        }

        &__employee-content,
        &__employee-txt {
            width: 250px;
        }

        &__employee-headings {
            margin-top: 20px;
        }
    }
}

@media screen and (min-width: $breakPoint_1) {
    .vmc-contact {
        &__employee-txt,
        &__employee-img {
            width: 300px;
        }

        &__employee-img {
            height: 300px;
        }

        &__employee-txt {
            height: 230px;
            padding: 10px;
            h3,
            p {
                padding: 10px 0;
            }
        }

        &__employee-content {
            width: 300px;
        }

        &__employee-headings {
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
}

@media screen and (min-width: 568px) and (orientation: landscape) {
    .vmc-contact {
        &__employee-txt,
        &__employee-img {
            width: 180px;
        }

        &__employee-img,
        &__employee-txt {
            height: 180px;
        }

        &__employee-txt {
            padding: 0 10px;
            h3,
            p {
                padding: 0;
                padding-top: 10px;
            }
        }

        &__employee-content {
            width: 360px;
            display: flex;
            
        }

        &__employee-headings {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 568px) {
    .vmc-contact-banner {
        &__map-container {
            height: calc(110vh);
            .map-widget {
                top: -110vh;
            }
        }
        &__opening-hours-container {
            @include flex-box(row, space-around, wrap);
            section {
                box-sizing: border-box;
                width: 33%;
            }
        }
    }
}

@media screen and (min-width: $breakPoint_2) {
    .vmc-contact-banner {
        &__form {
            p {
                width: 80%;
            }
            .wpcf7-submit {
                max-width: 200px;
            }
        }
    }
}

@media screen and (min-width: $breakPoint_2) and (orientation: landscape) {
    .vmc-contact {
        &__employee-txt,
        &__employee-img {
            width: 200px;
            height: 200px;
        }

        &__employee-content {
            width: 400px;
            display: flex;
        }

        &__employee-headings {
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 736px) and (orientation: landscape) {
    .vmc-contact {
        &__employee-txt,
        &__employee-img {
            width: 250px;
            height: 250px;
        }

        &__employee-content {
            width: 500px;
            display: flex;
        }

        &__employee-headings {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: $breakPoint_3) {
    .vmc-contact-banner {
        @include flex-box(row, flex-start, wrap);
        &__container {
            display: block;
            height: $heightMobile;
        }
        &__map-container {
            height: calc(40vh - 50px);
            left: 25%;
            opacity: 0.9;
            overflow: hidden;
            position: absolute;
            top: 20vh;
            width: 50%;
            z-index: 0;
            .map-widget {
                top: calc(-40vh + 50px);
            }
        }
        &__form {
            @include flex-box(row, center, wrap);
            background-color: #003057;
            color: #fff;
            height: calc(40vh - 50px);
            left: 25%;
            opacity: 0.9;
            overflow: auto;
            padding: 0;
            position: absolute;
            top: calc(20vh + 40vh -50px); // Top of &__map-container + it's own height
            width: 50%;
            h2 {
                font-size: 22px;
            }
            h2,
            p {
                width: 80%;
            }
            h2,
            .wpcf7-text,
            .wpcf7-textarea {
                padding: 3px;
            }
            .wpcf7-textarea {
                height: 90px;
            }
            .wpcf7-submit {
                border-color: $white;
                color: $white;
                max-width: 120px;
                padding: 10px 20px;
            }
            .textwidget,
            .wpcf7-form {
                width: 100%;
            }
        }
    }

    .vmc-contact {
        &__employee-txt {
            height: 250px;
        }
    }
}

@media screen and (min-width: $breakPoint_4 ) and (orientation: landscape) {
    .vmc-contact-banner {
        &__container {
            height: $heightMobile;
        }
        &__map-container,
        &__form {
            height: calc(55vh - 50px);
            top: calc(55vh + 50px - 27.5vh);
            width: 40%;
        }
        &__map-container {
            left: calc(50% - 40%);
            .map-widget {
                top: calc(-55vh + 50px);
            }
        }
        &__form {
            left: 50%;
            h2,
            .textwidget {
                align-self: center;
            }
        }
    }
}

@media screen and (min-width: $breakPoint_5) and (orientation: landscape) {
    .vmc-contact-banner {
        &__container {
            height: $heightDesktop;
        }
        &__map-container,
        &__form {
            height: calc(50vh - 80px);
            top: calc(50vh + 80px - 25vh);
            width: 40%;
        }
        &__map-container {
            left: calc(50% - 40%);
            .map-widget {
                top: calc(-50vh + 80px);
            }
        }
        &__form {
            left: 50%;
            h2,
            .textwidget {
                align-self: center;
            }
        }
    }
}

@media screen and (min-width: $breakPoint_4) {
    .vmc-contact-banner {
        &__opening-hours-container {
            max-width: 1300px;
            margin: 0 auto;
            padding: 10px 0;
            section {
                max-width: 250px;
            }
        }
    }

    .vmc-contact {
        &__employee-content,
        &__employee-img,
        &__employee-txt {
            width: 300px;
        }

        &__employee-img {
            height: 300px;
        }

        &__employee-txt {
            height: 250px;
        }

        &__employee-content {
            flex-direction: column;
        }

        &__employee-headings {
            margin-top: 20px;
        }
    }
}

@media screen and (min-width: $breakPoint_4 ) and (orientation: portrait) {
    .vmc-contact {
        &__wrapper {
            height: calc(70vh - 50px);
        }
    }
}

@media screen and (min-width: $breakPoint_5) {
    .vmc-contact {
        &__wrapper {
            height: $heightDesktop;
            margin: 0 auto;
            max-width: 900px;
        }
        &__employee-content,
        &__employee-img,
        &__employee-txt {
            width: 250px;
        }

        &__employee-img {
            height: 250px;
        }

        &__employee-txt {
            height: 250px;
        }
    }
}

@media screen and (min-width: $breakPoint_5) and (max-height: $breakPoint_3) {
    .vmc-contact-banner {
        &__container {
            height: calc(100vh - 80px);
        }
        &__map-container,
        &__form {
            height: calc(60vh - 80px);
            top: calc(50vh - 30vh + 40px);
            width: 40%;
        }
        &__map-container {
            left: calc(50% - 40%);
            .map-widget {
                top: calc(-60vh + 80px);
            }
        }
        &__form {
            left: 50%;
            h2,
            .textwidget {
                align-self: center;
            }
        }
    }
}

@media screen and (min-width: $breakPoint_6) and (max-height: $breakPoint_3) {
    .vmc-contact-banner {
        &__container {
            height: calc(100vh - 80px);
        }
        &__map-container,
        &__form {
            height: 400px;
            top: calc(50vh - 200px + 40px);
            width: 550px;
        }
        &__map-container {
            left: calc(50% - 550px);
            .map-widget {
                top: -400px;
            }
        }
        &__form {
            left: 50%;
            h2,
            .textwidget {
                align-self: center;
            }
        }
        &__opening-hours-container {
            max-width: 1350px;
        }
    }
}

@media screen and (min-width: $breakPoint_8) {
    .vmc-contact-banner {
        &__opening-hours-container {
            max-width: 1550px;
        }
    }
}
