.site-footer {
    background-color: $color_4;
    color: $white;
    a {
        @extend .link;
    }
    &__wrapper {
        padding: 50px 10px;
    }
    &__navigation,
    &__info-widget {
        margin: 0 auto;
        width: 50%;
        .menu-item {
            a {
                @include flex-box(row, center, nowrap);
                padding: 5px;
            }
        }
    }
    &__media{
        @include flex-box(row, space-around, nowrap);
        margin: 50px auto;
        max-width: 500px;
        width: 80%;
        a {
            padding: 10px;
        }
        i {
            font-size: 40px;
        }
    }
    &__copyright,
    &__logo,
    &__scroll {
        margin: 50px auto;
        text-align: center;
        width: 80%;
    }
    &__scroll {
        &:after {
            // content: ' >';
        }
    }
}

@media screen and (min-width: 640px) {
    .site-footer {
        &__navigation,
        &__info-widget {
            width: 80%;
            .menu {
                @include flex-box(row, center, nowrap);
                a {
                    padding: 10px;
                }
            }
        }
        &__logo {
            max-width: 300px;
        }
    }
}

@media screen and (min-width: 1025px) {
    .site-footer {
        &__navigation,
        &__info-widget,
        &__media {
            a {
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}