// Global styling

// Scrollbar styling
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

// Link styling

a {
    color: inherit;
    text-decoration: none;
}

// Content styling

.content-area,
.site-main {
    box-sizing: border-box;
    margin: 0;
    min-height: $heightMobile;
    padding: 0;
    width: 100%;
}

.vmc-standard-post,
.vmc-slider,
.vmc-policy-posts,
.vmc-promotion-posts,
.vmc-contact-banner,
.vmc-single-post {
    box-sizing: border-box;
    &__container,
    &__wrapper,
    &__content,
    &__img,
    &__txt,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        box-sizing: inherit;
    }
    &__img {
        @extend .bg-img;
    }
    b {
        font-weight: 500;
    }
    a {
        color: $color_6;
    }
}

// Standard posts

.vmc-standard-post {
    &__content {
        min-height: $heightMobile;
        padding: 10px 0;
        width: 100%;
        &:first-child {
            margin-top: 0;
            padding-top: 0;
        }
        h2,
        p {
            margin: 0;
            padding: 10px;
            padding-bottom: 20px;
        }
    }
    &__img {
        height: 250px;
        width: 100%;
    }
    &__txt {
        color: $color_4;
        min-height: 100px;
        padding: 10px;
    }
}

// Standard slider

.vmc-slider {
    @include flex-box(row, flex-start, nowrap);
    height: calc(100vh - 50px);
    margin-bottom: 30px;
    overflow: hidden;
    width: 100%;
    &__container,
    &__img,
    &__txt {
        h1,
        p {
            margin: 0 auto;
            text-align: center;
            padding: 10px;
        }
        .button__standard--white-border {
            color: $white;
        }
    }
    &__container,
    &__content {
        background-color: $color_4;
        color: $white;
        height: 100%;
        width: 100%;
    }
    &__container,
    &__wrapper {
        z-index: 0;
    }
    &__img {
        height: 50%;
        width: 100%;
    }
    &__txt {
        height: 50%;
        width: 100%;
        padding-top: 30px;
    }
    &__link-container {
        box-sizing: border-box;
        margin-top: 30px;
        text-align: center;
    }
    &__button {
        opacity: 0;
    }
    &__pagination {
        .swiper-pagination-bullet {
            background-color: $white;
        }
    }
}

// Media queries

@media screen and (min-width: $breakPoint_1) {
    .vmc-standard-post {
        &__img {
            height: 280px;
        }
    }
}

@media screen and (min-width: $breakPoint_2) {
    .vmc-standard-post {
        &__content {
            @include flex-box(row, flex-start, wrap);
            padding: 10px;
            padding-top: 30px;
            &:first-child {
                padding-top: 30px;
            }
            &:nth-child(even) {
                flex-flow: row-reverse;
            }
        }
        &__img {
            height: 250px;
            width: 49%;
        }
        &__txt {
            padding-top: 0;
            width: 51%;
            h2 {
                padding: 10px;
                padding-top: 0;
            }
        }
    }
    .vmc-slider {
        margin-bottom: unset;
        &__img {
            height: 100%;
        }
        &__txt {
            margin-top: -40%;
            h1,
            p {
                padding: 5px 10px;
                width: 60%;
            }
        }
        &__link-container {
            padding: 5px 10px;
            width: 60%;
            margin: auto;
            margin-top: 30px;
        }
    }
}

@media screen and (min-width: $breakPoint_3) {
    .vmc-standard-post {
        &__content {
            min-height: 0;
            padding: 10px;
            height: 350px;
            margin: 30px auto 0 auto;
        }
        &__img {
            height: 100%;
        }
    }
    .vmc-slider {
        &__img {
            height: 60%;
        }
        &__txt {
            margin-top: 0;
            h1,
            p {
                padding: 10px;
            }
        }
    }
}

@media screen and (min-width: $breakPoint_4) {
    .vmc-standard-post {
        &__content {
            height: 400px;
            max-width: 1300px;
            padding: 30px;
            &:nth-child(even) {
                flex-flow: row-reverse;
                h2,
                p {
                    margin: 0;
                }
            }
            h2,
            p {
                margin: 0 auto;
                padding: 0;
                padding-bottom: 10px;
                text-align: left;
                width: 90%;
            }
        }
        &__img {
            width: 49%;
        }
        &__txt {
            color: $color_4;
            display: block;
            top: 0;
            width: 51%;
        }
    }
    .vmc-slider {
        &__img {
            height: 100%;
        }
        &__txt {
            margin-top: -35%;
            margin-left: 0;
            h1,
            p {
                margin-left: 0;
                padding: 10px 30px;
                text-align: left;
                width: 50%;
            }
            .vmc-slider__link-container {
                margin-left: 0;
                padding: 0 30px;
                text-align: left;
                width: 50%;
            }
        }
    }
}

@media screen and (min-width: $breakPoint_4 ) and (orientation: portrait) {
    .vmc-slider {
        &__img {
            height: 50%;
        }
        &__txt {
            margin: 0 auto;
            margin-top: 30px;
            h1,
            p,
            .vmc-slider__link-container {
                margin: 0 auto;
                padding: 10px 30px;
                text-align: center;
                width: 70%;
            }
            .vmc-slider__link-container {
                margin-top: 30px;
            }
        }
        &__link-container {
            text-align: center;
        }
    }
}


@media screen and (min-width: $breakPoint_5) {
    .content-area,
    .site-main {
        min-height: $heightDesktop;
    }
    .vmc-slider {
        height: calc(100vh - 80px);
        &__txt {
            margin-top: -25%;
            h1,
            p, {
                padding: 10px 60px;
                width: 40%;
            }
            .vmc-slider__link-container {
                padding: 0 60px;
                width: 40%;
            }
        }
        &__button {
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
    }
}

@media screen and (min-width: $breakPoint_7) {
    .vmc-standard-post {
        &__content {
            height: 450px;
            max-width: 1350px;
        }
    }
}

@media screen and (min-width: $breakPoint_8) {
    .vmc-standard-post {
        &__content {
            height: 500px;
            max-width: 1550px;
        }
    }
}
