.vmc-slider {
    @include flex-box(row, flex-start, nowrap);
    height: calc(100vh - 50px);
    margin-bottom: 30px;
    overflow: hidden;
    width: 100%;
    &__container,
    &__img,
    &__txt {
        h1,
        p {
            margin: 0 auto;
            text-align: center;
            padding: 10px;
        }
        .button__standard--white-border {
            color: $white;
        }
    }
    &__container,
    &__content {
        background-color: $color_4;
        color: $white;
        height: 100%;
        width: 100%;
    }
    &__container,
    &__wrapper {
        z-index: 0;
    }
    &__img {
        height: 50%;
        width: 100%;
    }
    &__txt {
        height: 50%;
        width: 100%;
        padding-top: 30px;
    }
    &__link-container {
        box-sizing: border-box;
        margin-top: 30px;
        text-align: center;
    }
    &__button {
        opacity: 0;
    }
    &__pagination {
        .swiper-pagination-bullet {
            background-color: $white;
            // box-shadow: $boxShadow;
        }
    }
}

@media screen and (min-width: 640px) {
    .vmc-slider {
        margin-bottom: unset;
        &__img {
            height: 100%;
        }
        &__txt {
            margin-top: -40%;
            h1,
            p {
                padding: 5px 10px;
                width: 80%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .vmc-slider {
        &__img {
            height: 60%;
        }
        &__txt {
            margin-top: 0;
            h1,
            p {
                padding: 10px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .vmc-slider {
        &__img {
            height: 100%;
        }
        &__txt {
            margin-top: -35%;
            margin-left: 0;
            h1,
            p {
                margin-left: 0;
                padding: 10px 30px;
                text-align: left;
                width: 50%;
            }
        }
        &__link-container {
            margin-left: 0;
            padding: 0 30px;
            text-align: left;
            width: 50%;
        }
    }
}

@media screen and (min-width: 1024px ) and (orientation: portrait) {
    .vmc-slider {
        &__img {
            height: 50%;
        }
        &__txt {
            h1,
            p {
                margin: 0 auto;
                padding: 10px 30px;
                text-align: center;
                width: 70%;
            }
        }
        &__link-container {
            text-align: center;
        }
        &__txt,
        &__link-container {
            margin: 0 auto;
            margin-top: 30px;
        }
    }
}

@media screen and (min-width: 1025px) {
    .vmc-slider {
        height: calc(100vh - 80px);
        &__txt {
            margin-top: -25%;
            h1,
            p {
                padding: 10px 60px;
            }
        }
        &__link-container {
            padding: 0 60px;
        }
        &__button {
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
    }
}
