// CSS for options that the user can set in the admin panel for the different posts.

@media screen and (min-width: $breakPoint_2) {
    // Slider options
    .vmc-slider {
        &__txt {
            // Text position
            &--left {
                h1,
                p,
                .vmc-slider__link-container {
                    text-align: left;
                    margin-left: 0;
                }
            }
            &--right {
                h1,
                p,
                .vmc-slider__link-container {
                    text-align: right;
                    margin-left: 40%;
                }
            }
            &--center {
                h1,
                p,
                .vmc-slider__link-container {
                    text-align: center;
                }
            }
            // Button color
            &--btn-color-black {
                .button__standard--white-border-fill-hover {
                    border-color: $color_4;
                    color: $color_4;
                }
            }
            &--btn-color-white {
                .button__standard--white-border-fill-hover {
                    border-color: $white;
                    color: $white;
                }
            }
        }
        &__content {
            // Text color
            &--black {
                color: $color_4;
            }
            &--white {
                color: $white;
            }
        }
    }
}

@media screen and (min-width: $breakPoint_3) {
    // Slider options
    .vmc-slider {
        &__txt {
            // Text position
            &--left,
            &--right,
            &--center {
                h1,
                p,
                .vmc-slider__link-container {
                    text-align: center;
                    margin: 0 auto;
                }
                .vmc-slider__link-container {
                    margin-top: 30px;
                }
            }
            // Button color
            &--btn-color-black,
            &--btn-color-white {
                .button__standard--white-border-fill-hover {
                    border-color: $white;
                    color: $white;
                }
            }
        }
        &__content {
            // Text color
            &--black,
            &--white {
                color: $white;
            }
        }
    }
}

@media screen and (min-width: $breakPoint_4) {
    // Slider options
    .vmc-slider {
        &__txt {
            // Text position
            &--left {
                h1,
                p,
                .vmc-slider__link-container {
                    text-align: left;
                    margin-left: 0;
                }
            }
            &--right {
                h1,
                p,
                .vmc-slider__link-container {
                    text-align: right;
                    margin-left: 50%;
                }
            }
            &--center {
                h1,
                p,
                .vmc-slider__link-container {
                    text-align: center;
                    margin: 0 auto;
                }
                .vmc-slider__link-container {
                    margin-top: 30px;
                }
            }
            // Button color
            &--btn-color-black {
                .button__standard--white-border-fill-hover {
                    border-color: $color_4;
                    color: $color_4;
                }
            }
            &--btn-color-white {
                .button__standard--white-border-fill-hover {
                    border-color: $white;
                    color: $white;
                }
            }
        }
        // Text color
        &__content {
            &--black {
                color: $color_4;
            }
            &--white {
                color: $white;
            }
        }
    }
}

@media screen and (min-width: $breakPoint_4 ) and (orientation: portrait) {
    // Slider options
    .vmc-slider {
        // Text position
        &__txt {
            &--left,
            &--right,
            &--center {
                h1,
                p,
                .vmc-slider__link-container {
                    margin: 0 auto;
                    padding: 10px 30px;
                    text-align: center;
                    width: 70%;
                }
                .vmc-slider__link-container {
                    margin-top: 30px;
                }
            }
            // Button color
            &--btn-color-black,
            &--btn-color-white {
                .button__standard--white-border-fill-hover {
                    border-color: $white;
                    color: $white;
                }
            }
        }
        // Text color
        &__content {
            &--black,
            &--white {
                color: $white;
            }
        }
    }
}


@media screen and (min-width: $breakPoint_5) {
    .vmc-slider {
        &__txt {
            &--right {
                h1,
                p,
                .vmc-slider__link-container {
                    margin-left: 60%;
                }
            }
            // Button color
            &--btn-color-black {
                .button__standard--white-border-fill-hover {
                    &:hover {
                        background-color: $color_4;
                        color: $white;
                    }
                }
            }
            &--btn-color-white {
                .button__standard--white-border-fill-hover {
                    &:hover {
                        background-color: $white;
                        color: $color_4;
                    }
                }
            }
        }
    }
}