// Styling for the service page and service booking pages

.vmc-service-banner {
    width: 100%;
    &__container,
    &__wrapper,
    &__content {
        width: 100%;
        height: 100%;
    }
    &__container,
    &__wrapper,
    &__content,
    &__img {
        box-sizing: border-box;
    }
    &__img {
        @extend .bg-img;
        width: 100%;
        min-height: $heightMobile;
    }
}

// The .service-page-wrapper and .tacdis-ecom-wrapper is the same element,
// but the .tacdis-ecom-wrapper class is only added on the actual booking
// page to allow for a nother styling.
.service-page-wrapper {
    background-color: rgba(0, 48, 87, 0.7);
    box-sizing: border-box;
    min-height: $heightMobile;
    width: 100%;
    .disabled {
        pointer-events: none;
        opacity: 0.3;
    }
}
.tacdis-ecom-wrapper {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px 5px;
    .tacdis-ecom-booking-container {
        height: 100%;
        margin: 0 auto;
        width: 100%;
        // For displaying temporary text messages instead of the actual service widget.
        // Add a <p> tag with this class while editing in the admin panel.
        .temp-msg {
            margin: 50px auto;
            max-width: 640px;
            text-align: center;
            color: $errorColor;
        }
        // Loader/spinner
        .tacdis-loader {
            color: $color_7;
            max-width: 640px;
            text-align: center;
            .loader-spinner,
            .loader-text {
                box-sizing: border-box;
                position: absolute;
                left: calc(50% - 40px);
            }
            .loader-spinner {
                border: 7px solid $color_2;
                border-top: 7px solid $color_3;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                animation: spin 2s linear infinite;
                top: calc(50% - 80px);
            }
            .loader-text {
                width: 80px;
                margin: 0;
                top: calc(50% - 55px);
            }
        }
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.service-menu-widget,
.service-text-widget {
    box-sizing: border-box;
    color: #fff;
    padding: 10px;
    padding-top: 20px;
}

.service-menu-widget {
    width: 100%;
    padding-bottom: 20px;
    .menu {
        @include flex-box(column, flex-start, wrap);
        .menu-item,
        .menu-item a {
            text-align: center;
        }
        .menu-item {
            align-self: center;
            margin: 10px auto;
            width: 80%;
        }
        .menu-item a {
            @extend .button__standard;
            @extend .button__standard--white-border-fill-hover;
            width: 100%;
        }
    }
}

.service-text-widget {
    margin: 0 auto;
    width: 100%;
    h1,
    p {
        margin: 0;
        padding: 10px;
    }
    h1 {
        text-align: center;
    }
}

@media screen and (min-width: $breakPoint_3) {
    .service-page-wrapper {
        height: 500px;
        margin: 0 auto;
        min-height: 0;
        position: relative;
        top: calc(50vh - 25px - 250px);
        width: 500px;
    }
    .tacdis-ecom-wrapper {
        height: initial;
        min-height: $heightMobile;
        padding: 30px 10px;
        top: 0;
        width: 100%;
    }
}

@media screen and (min-width: $breakPoint_5) {
    .service-page-wrapper {
        width: 640px;
        top: calc(50vh - 40px - 250px);
    }
    .tacdis-ecom-wrapper {
        min-height: $heightDesktop;
        padding: 30px 25px;
        top: 0;
        width: 100%;
        .tacdis-ecom-booking-container {
            max-width: 1300px;
        }
    }
    .vmc-service-banner {
        &__img {
            min-height: calc(100vh - 80px);
        }
    }
}

@media screen and (min-width: $breakPoint_6) {
    .tacdis-ecom-wrapper {
        .tacdis-ecom-booking-container {
            max-width: 1350px;
        }
    }
}

@media screen and (min-width: $breakPoint_8) {
    .tacdis-ecom-wrapper {
        .tacdis-ecom-booking-container {
            max-width: 1550px;
        }
    }
}
