@import 
"utilities/_global-variables",
"utilities/_mixins",
"utilities/_font-size",
"_global-styling",
"_header",
"_footer",
"_error",
"_home",
"_contact",
"_promotions",
"_widgets",
"_cars",
"_cookie",
"_policy",
"_cf7";

// Override WP styling

html {
    margin-top: 0 !important;
}

body {
    margin: 0 !important;
    font-family: $font;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 500;
    }
}

.wpcf7-text,
.wpcf7-textarea,
.wpcf7-submit {
    font-family: $font;
    font-size: 16px;
}

