@import 
"utilities/_global-variables",
"utilities/_mixins",
"utilities/_font-size",
"_global-styling",
"_vmc-theme",
"_header",
"_footer",
"_error",
"_home",
"_contact";

// Override WP styling

body {
    margin: 0 !important;
    font-family: $font;
}

html {
    margin-top: 0 !important;
}
